# ==========================================
# LaTeX / TeXstudio (Archivos temporales)
# ==========================================
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lot
*.lof
*.nav
*.snm
*.vrb
*.dvi
*Notes.bib

# ==========================================
# Python y Entornos Virtuales
# ==========================================
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Datos y Caché de Simulaciones
# ==========================================
results/
results_griffiths/

# ==========================================
# IDEs y Archivos de Sistema
# ==========================================
.idea/
.vscode/
.DS_Store
Thumbs.db